body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dataText {
  width: 50rem;
}
.Title{
    font-size: 5rem;
  width: 50rem;
}
